cffi==1.15.1
charset-normalizer==3.0.1
cryptography==39.0.2
doc2text==0.2.4
future==0.18.3
mime==0.1.0
numpy==1.24.2
packaging==23.0
pandas==1.5.3
pdfminer.six==20221105
Pillow==9.4.0
pycparser==2.21
PyPDF2==3.0.1
pytesseract==0.3.10
python-dateutil==2.8.2
pytz==2022.7.1
scipy==1.10.1
six==1.16.0
